In [2]:
import pandas as pd
data = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
table = pd.DataFrame(data[0])
table = table.drop(['SEC filings', 'CIK'], axis = 1)
table.columns = ['tickers','secName','gicsSector','gicsSubIndustry','headQuarters','dateFirstAdded','founded']
table.to_csv('data/sp500components.csv')

In [3]:
table = pd.DataFrame(data[0])
table = table.drop(['SEC filings', 'CIK'], axis = 1)
table.columns = ['tickers','secName','gicsSector','gicsSubIndustry','headQuarters','dateFirstAdded','founded']
table.to_csv('data/sp500components.csv')
print(len(table))
table.head()

505

,tickers,secName,gicsSector,gicsSubIndustry,headQuarters,dateFirstAdded,founded
0,MMM,3M Company,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,1902
1,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1888
2,ABBV,AbbVie Inc.,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,2013 (1888)
3,ABMD,ABIOMED Inc,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,1981
4,ACN,Accenture plc,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1989

In [4]:
tickers_sp500 = list(table.tickers)
print(len(tickers_sp500))
tickers_sp500[:3]

505

['MMM', 'ABT', 'ABBV']

In [5]:
companyName = list(table.secName)
print(len(companyName))
companyName[:3]

505

['3M Company', 'Abbott Laboratories', 'AbbVie Inc.']

In [6]:
sectors = list(table.gicsSector)
print(len(sectors))
sectors[:3]

505

['Industrials', 'Health Care', 'Health Care']

In [7]:
founded = list(table.founded)
print(len(founded))
founded[:3]

505

['1902', '1888', '2013 (1888)']

In [8]:
headQuarters = list(table.headQuarters)
print(len(headQuarters))
headQuarters[:3]

505

['St. Paul, Minnesota', 'North Chicago, Illinois', 'North Chicago, Illinois']

In [8]:
table1 = pd.DataFrame(data[1]).transpose().reset_index()
table1 = table1.drop(['level_0', 'level_1'], axis = 1)
table1 = table1.transpose().reset_index()
table1.columns = ['index','dateAddDrop','tickerAdd','addCOname','tickerDrop','dropCOname','reason']
table1.drop('index', axis = 1, inplace=True)
table1.dateAddDrop = pd.to_datetime(table1.dateAddDrop)
table1.fillna('---', inplace=True)


from datetime import *

dateAddDrop = list(table1.dateAddDrop)
add = list(table1.tickerAdd.tail())
drop = list(table1.tickerDrop.tail())
now = datetime.now()
days = []

for dad in dateAddDrop:    
    c = now - dad
    c = str(c)
    c = c.split()
    days.append(int(c[0]))
table1['daysOn'] = days


table1.to_csv('data/sp500components_1.csv')
print(len(table1))
table1.head()

259

,dateAddDrop,tickerAdd,addCOname,tickerDrop,dropCOname,reason,daysOn
0,2020-10-12,---,---,NBL,Noble Energy,Chevron acquired Noble Energy.[6],62
1,2020-10-09,VNT,Vontier,---,---,S&P 500 constituent Fortive spun off Vontier.[6],65
2,2020-10-07,POOL,Pool Corporation,ETFC,E*TRADE Financial,Morgan Stanley acquired E*TRADE.[7],67
3,2020-09-21,ETSY,Etsy,HRB,H&R Block,Market capitalization change.[8],83
4,2020-09-21,TER,Teradyne,COTY,Coty Inc.,Market capitalization change.[8],83

In [9]:
table1.tail()

,dateAddDrop,tickerAdd,addCOname,tickerDrop,dropCOname,reason,daysOn
254,2000-12-05,SBL,Symbol Technologies,OI,Owens-Illinois,Market Cap changes.,7313
255,2000-12-05,AYE,Allegheny Energy,GRA,W.R. Grace,Market Cap changes.,7313
256,2000-12-05,ABK,Ambac Financial,CCK,Crown Holdings,Market Cap changes.,7313
257,2000-07-27,JDSU,JDS Uniphase,RAD,RiteAid,Market Cap change.[205],7444
258,1999-12-07,YHOO,Yahoo!,LDW,Laidlaw,Market Cap change.[206],7677

In [10]:
print(add[:3])
print(drop[:3])

['SBL', 'AYE', 'ABK']
['OI', 'GRA', 'CCK']